<% provide(:title, t('.contacts_html')) %>
<h1><%= t('.contacts_html') %></h1>
<p><%= t('.paragraph1_html') %></p>
<p><%= t('.paragraph2_html') %></p>
<p>
  <%= t('.paragraph3_html') %>
  <a href="mailto:zell.xp@gmail.com">zell.xp@gmail.com</a>
</p>

<p align="center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d168800.10489076487!2d22.279638!3d48.619382!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b944b6e3d9%3A0xda6ae0130042a3c!2z0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDRl9C90LA!5e0!3m2!1suk!2sua!4v1434464517480" width="800" height="600" frameborder="0" style="border:0"></iframe>
</p>
